<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnchorHandlerMenu</key>
	<dict>
		<key>button font size</key>
		<integer>10</integer>
		<key>button size</key>
		<string>{44,25}</string>
		<key>visible</key>
		<true/>
		<key>name</key>
		<string>anchorhandlermenu</string>
		<key>button spacing</key>
		<integer>10</integer>
		<key>buttons</key>
		<array>
			<dict>
				<key>imagepressed</key>
				<string>transitwithheadingpressed</string>
				<key>image</key>
				<string>transitwithheading</string>
				<key>name</key>
				<string>transitwithheading</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>text</key>
				<string>DP Transit</string>
				<key>colour</key>
				<string>blue</string>
				<key>opacity</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>imagepressed</key>
				<string>transittopointpressed</string>
				<key>image</key>
				<string>transittopoint</string>
				<key>name</key>
				<string>transit</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>text</key>
				<string>Transit</string>
				<key>colour</key>
				<string>blue</string>
				<key>opacity</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>imagepressed</key>
				<string>holdstationpressed</string>
				<key>image</key>
				<string>holdstation</string>
				<key>name</key>
				<string>holdstation</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>text</key>
				<string>Station</string>
				<key>colour</key>
				<string>blue</string>
				<key>opacity</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>imagepressed</key>
				<string>holdheadingpressed</string>
				<key>image</key>
				<string>holdheading</string>
				<key>name</key>
				<string>holdheading</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>text</key>
				<string>Heading</string>
				<key>colour</key>
				<string>blue</string>
				<key>opacity</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>imagepressed</key>
				<string>pickupanchorpressed</string>
				<key>image</key>
				<string>pickupanchor</string>
				<key>name</key>
				<string>pickupanchor</string>
				<key>size</key>
				<string>{50,50}</string>
				<key>text</key>
				<string>Pick Anchor</string>
				<key>colour</key>
				<string>blue</string>
				<key>opacity</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>imagepressed</key>
				<string>liveanchorpressed</string>
				<key>image</key>
				<string>liveanchor</string>
				<key>name</key>
				<string>liveanchor</string>
				<key>size</key>
				<string>{44,25}</string>
				<key>text</key>
				<string>Live Anchor</string>
				<key>colour</key>
				<string>blue</string>
				<key>opacity</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
